html {
    width: 100%;
    height: 1955px;

}
#top {
 background-color: #327CCB; 
    margin-top: 0px;
    width: 100%;
    height: 538px;
   position: absolute; 
}

#title {
 color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: 31px;
    margin-top: 165px;
position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 919px;
     height: 80px;
 
}
