html {
    width: 100%;
    height: 1655px;
}

body {
    margin:0;
    padding:0;
 }

#top {
     background-color: #327CCB; 
    margin-top: 0px;
    width: 100%;
    height: 538px;
   position: absolute; 
}

#bottom {
     background-color: #ececec;
    margin-top:538px;
    height: 1117px;
    width: 100%;
    position: absolute; 
}

#title {
 color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    font-size: 31px;
    margin-top: 165px;
position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 919px;
     height: 80px;
}
#descriptiontitle{
    text-align: center;
    font-style: italic;
    padding-bottom: 20px;
    color: #327CCB;
    top: -100px;
    font-size: 23px;
}
#description {
     color: black;
   text-align: justify;
    -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    font-size:20.9px;
     margin: auto;
     top: 104px;
     right: 0;
     bottom: 0;
     left: 0;
     width: 686px;
     height: 80px;
}

#title123{
   color: #327ccb;
   text-align: center;
    -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    position: relative;
    font-size:23px;
    font-style: italic;
     margin: auto;
     top: 304px;
     right: 0;
     bottom: 0;
     left: 0;
     width: 686px;
     height: 80px;
}

#one {
    color:#000000;
   text-align: center;
    -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    font-size:18px;
     margin: auto;
     top: 304px;
     right: 0;
     bottom: 0;
     left: 0;
     width: 200px;
     height: 80px;   
}

#two {
    color:#000000;
   text-align: center;
    -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    font-size:18px;
     margin: auto;
     top: 404px;
     right: 0;
     bottom: 0;
     left: 0;
     width: 200px;
     height: 80px;   
}
#three {
    color:#000000;
   text-align: center;
    -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    font-size:18px;
     margin: auto;
     top: 504px;
     right: 0;
     bottom: 0;
     left: 0;
     width: 200px;
     height: 80px;   
}

#four {
    color:#000000;
   text-align: center;
    -moz-text-align-last: center; /* Code for Firefox */
    text-align-last: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: relative;
    font-size:18px;
     margin: auto;
     top: 564px;
     right: 0;
     bottom: 0;
     left: 0;
     width: 400px;
     height: 150px;  
}

#bottombar {
background-color: #327CCB; 
    bottom: 0px;
    width: 100%;
    height: 70px;
   position: absolute; 
}

#bottomtext {
 text-align:center;
    color: white;
        font-family: 'Montserrat', sans-serif;
    line-height: 70px;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color:white;
}
